<div id="window" style="height:800px;">
  <div id="mainMenu">
    <h3>main menu</h3>
    <ul id="explore">
      <li><a href="/">Home</a></li>
      <li><a href="/meter?lon=<%= @lon %>&lat=<%= @lat %>">Git.to Meter</a></li>
      <li><a href="/details/<%= @ward %>?lon=<%= @lon %>&lat=<%= @lat %>">Details</a></li>
      <li><a class="currentTab" href="/report?ward=<%= @ward %>&lon=<%= @lon %>&lat=<%= @lat %>">Report</a></li>
    </ul>
  </div>
  <div class="container menuClosed profileClosed">
    <div id="header">
      <div class="top-logo-wrapper">
        <img id="lbLogo" src="/images/Gitto-top-logo.jpg" width="160"/>
      </div>

      <div id="navOptions">
        <ul id="nav">
          <li><a id="menuIcon"><img  src="/images/menu-icon.jpg" width="60"/></a></li>
        </ul>
      </div><!--end main Nav-->
      <div class="clear"></div>
      <div id="homeBox" class="statBox">
        <br/>

        <h2 style="text-align:center;">Report an incident:</h2>

        <ul id="personal">
        </ul>

      </div><!--end home box-->
    </div><!--end header-->

  </div><!--end container-->
</div><!--end window-->
