<div id="window" style="height:800px;">
  <div id="mainMenu">
    <h3>main menu</h3>
    <ul id="explore">
      <li><a href="/">Home</a></li>
      <li><a class="currentTab" href="/meter?lon=<%= @lon %>&lat=<%= @lat %>">Git.to Meter</a></li>
      <li><a href="/details/<%= @ward %>?lon=<%= @lon %>&lat=<%= @lat %>">Details</a></li>
    </ul>
  </div>
  <div class="container menuClosed profileClosed">
    <div id="header">
      <div class="top-logo-wrapper">
        <img id="lbLogo" src="/images/Gitto-top-logo.jpg" width="160"/>
      </div>

      <div id="navOptions">
        <ul id="nav">
          <li><a id="menuIcon"><img  src="/images/menu-icon.jpg" width="60"/></a></li>
        </ul>
      </div><!--end main Nav-->
      <div class="clear"></div>
      <div id="homeBox" class="statBox">
        <br/>
        <h2 style="text-align:center;">The current GIT.TO score in your 'hood is :</h2>
        <div class="circle-placeholder">
          <div class="number-display">
            <%= @magic_number %>%
          </div>
          <div id="chart3" data-number="<%= @magic_number %>" ></div>
        </div>
        <h2 style="text-align:center;">Neighborhood Rating: <span> "Posh-ish" </span> - Go ahead, wear your Rolex.</h2>

        <div class="why-button">
          <ul class="innerPagelist">
            <a href="/details/<%= @ward %>" class="PageBtn"><li><p class="redTitle"><span>More details</span></p></li></a>
          </ul>
        </div>

      </div><!--end home box-->
    </div><!--end header-->

  </div><!--end container-->
</div><!--end window-->
